.adventure {
  border: 2px black solid;
  display: flex;
  height: 25vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $secondary-background;
}

.booking {
  display: flex;
  max-width: 70vw;
  justify-content: space-between;
  text-align: center;
}

label {
  color: $white;
  margin: 1%;
}

.drop {
  width: 10vw;
  padding: 1%;
}