header {
  @include flex(row);
  justify-content: space-between;
  align-items: flex-end;
  border: 2pt $black solid;
  color: $black;
  padding: .75%;
}

.left {
  @include flex(column);
  justify-content: flex-end;
}

.right {
  @include dimensions(20vh, auto);
  @include flex(column);
  justify-content: space-between;
}

.logout {
  font-size: medium;
  align-self: flex-end;
}