@media screen and (max-width: 1300px) {
  .trip-cards {
    height: 45vh;
    width: 40vw;
  }

  .drop {
    width: 15vw;
  }
}

@media screen and (max-width: 1150px) {
  .trip-cards {
    height: 45vh;
    width: 70vw;
  }

  .trip-img {
    width: 100vw;
    height: auto;
  }

  .drop {
    width: 20vw;
  }
}

@media screen and (max-width: 1020px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  h1,
  h2 {
    text-align: center;
  }

  .drop {
    // width: 30vw;
  }

  .left {
    align-items: center;
  }

  .right {
    align-items: center;
    height: auto;
  }

  .logout {
    align-self: center;
  }

  .adventure {
    height: auto;
  }

  .trip-btns {
    font-size: 10pt;
  }

  .booking {
    flex-direction: column;
    max-width: 54vw;
  }

  .book-btn {
    margin: 5%;
  }

  .img-wrap {
    width: 60vw;
  }

  label {
    margin: 1% 0;
  }
}

@media screen and (max-width: 850px) {
  .booking {
    flex-direction: column;
    max-width: 25vw;
  }

  .drop {
    width: 20vw;
  }

  label {
    margin: 0 6%;
  }
}