.trips {
  @include dimensions(100vh, auto);
  @include flex(column);
  align-items: center;
  justify-content: center;
  border: 2pt $black solid;
}

.tabs {
  @include dimensions(auto, 90vw);
  @include flex(row);
  justify-content: space-evenly;
  align-content: center;
  margin-top: 0.5em;
}

.trip-btns {
  @include dimensions(auto, 20vw);
  padding: 4%;
  font-size: 16pt;
  background-color: $accent-color;
  color: $black;
}

.card-container {
  @include dimensions(75vh, auto);

  @include flex(row);
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2em;
  overflow: auto;
  min-width: 90vw;
}

.trip-cards {
  @include dimensions(40vh, auto);
  @include flex(column);
  align-items: center;
  border: 1pt $black solid;
  margin: 1.5em;
  background-color: rgba($color: $trip-card-background, $alpha: 0.3)
}

a {
  color: $navy;
  padding-bottom: 1%;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}

.img-wrap {
  @include dimensions(auto, 25vw);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.trip-img {
  max-width: auto;
  max-height: 100%;
}

.destination-name {
  margin-bottom: 1em;
  border-bottom: 1pt $black solid;
}