.trips {
  height: 100vh;
  border: 2pt black solid;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 90vw;
  margin-top: 0.5em;
}

.trip-btns {
  width: 20vw;
  padding: 4%;
  font-size: 16pt;
  background-color: $accent-color;
  color: $black;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2em;
  overflow: auto;
  height: 75vh;
  min-width: 90vw;
}

.trip-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  border: 1pt $black solid;
  margin: 1.5em;
  background-color: rgba($color: $trip-card-background, $alpha: 0.3)
}

a {
  color: $navy;
  padding-bottom: 1%;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}

.img-wrap {
  overflow: hidden;
  display: flex;
  width: 25vw;
  justify-content: center;
}

.trip-img {
  max-width: auto;
  max-height: 100%;
  // border-radius: 40%;
}

.destination-name {
  margin-bottom: 1em;
  border-bottom: 1pt $black solid;
}