@import "variables";
@import "mixin";
@import "login";
@import "header";
@import "bookingbar";
@import "tripview";

html {
  @include dimensions(100vh, 100vw);
  @include flex(row);
  justify-content: center;
  background-color: $primary-background;
  font-family: 'Yusei Magic',
  sans-serif;
}

body {
  @include dimensions(auto, 90vw);
}

h1 {
  margin: 0;
}

button {
  font-family: 'Yusei Magic',
  sans-serif;
}

.small-btn {
  background-color: $accent-color;
}

footer {
  height: 6vh;
  @include flex(row);
  justify-content: flex-end;
  align-items: center;
}

.footer-info {
  padding: 0 2% 0 2%;
}

@import "responsive";

.hidden {
  display: none;
}