@import "variables";
@import "header";
@import "bookingbar";
@import "tripview";

html {
  height: 100vh;
  width: 100vw;
  background-color: $primary-background;
  display: flex;
  justify-content: center;
  font-family: 'Yusei Magic',
  sans-serif;
}

body {
  width: 90vw;
}

h1 {
  margin: 0
}

.small-btn {
  background-color: $accent-color;
}

@import "responsive";

.hidden {
  display: none;
}